<div class="product-list_main">
  <!--<div  class="product-item_main col-xs-4 col-md-3 col-sm-3 col-lg-2" *ngFor="let product of products | productfilter: filterArgs">
      <div class="product-item" (click)="redirectToDetails(product)">
        <img src="{{product.images}}"> <!-- {{product.images}} 
        <h5>{{product.productTitle}}</h5><hr>
        <p>Description: <span>{{product.productDescription}}</span></p>
        <p>Reviews: <span>{{product.reviews}}</span></p>
        <p>User Ratings: <span>{{product.userRatings}}</span></p>
      </div>
  </div>-->
</div>

<!--<app-modal [closable]=true [visible]="isShowDetails" [data]="selectedProduct" (dialogEvents)="detailModalEvents($event)"></app-modal>-->



